<footer id="footer-section">
    <div class="footer-wrap container">
        <div class="footer-aside-content">
            <!-- Logo -->
            <div class="footer-logo">
                <img src="assets/images/NEW_ARCADIA.svg" alt="logo arcadiacs" class="logo">
            </div>
            <!-- Informações de contato -->
            <p class="footer-informacoes-contato">
                contato@arcadiacs.com.br<br>
                59.751.591/0001-81<br>
                São Paulo, SP
            </p>

        </div>

        <p class="copyright">
            Arcadia CS &COPY; 2025 — Soluções Digitais para Negócios Reais<br>
            Todos os direitos reservados.
        </p>

        <div class="social-icons">
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-github"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>

</footer>